/*******************
      FILTERS
*******************/

.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    width: 100%;
    margin: 2rem 0;
    background-color: #5D5D81;
    color: var(--text-white-color);
}

.filters-title {
    font-weight: 800;
    font-size: 1.4rem;
}

.min-max-form {
    display: flex;
    flex-direction: row;
}

.min-max-form label {
    margin-right: 0.5rem;
}

.min-max-input {
    border-radius: 5px;
    border: none;
    padding: 4px;
}

.min-max-input:focus {
    outline: none;
    border: 1px solid var(--main-blue-color);
    border-radius: 5px;
}

#min-max-button {
    color: var(--main-blue-color);
    padding: 0.3rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin-left: 0.5rem;
}

.lowest-biggest {
    display: flex;
    flex-direction: row;
}

.form-select {
    margin-left: 0.6rem;
    border-radius: 5px;
    border-color: var(--main-blue-color);
}

.form-select:focus {
    outline: none;
    border-color: var(--main-blue-color);
    border-radius: 5px;
}




/*******************
      Products
*******************/

.products-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    color: var(--main-blue-color);
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2rem;
}

#products {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    margin: 0 auto;
    width: 100%;
}

.single-product {
    margin: 1rem;
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(93, 93, 129, 0.3);
    border-radius: 5%;
}

.single-product img {
    width: 100%;
    height: auto;
    max-height: 400px;
}

.catalog-line {
    border: 1px solid var(--main-blue-color);
    width: 100%;
    margin-bottom: 0.6rem;
}

.product-title {
    font-size: 1.2rem;
}

.product-price {
    color: var(--main-blue-color);
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0.2rem 0;
}

.product-button {
    width: 50%;
    font-size: 0.8rem;
    margin: 0.2rem 0;
    background-color: var(--main-blue-color);
    border: none;
    border-radius: 40px;
    padding: 0.5rem;
    text-transform: uppercase;
    color: var(--text-white-color);
    text-align: center;
    transition: opacity .5s ease-in;
}

.product-button:hover {
    opacity: 0.8;
}



/*******************
    MEDIA QUERY
*******************/

@media (max-width: 1128px) {
    .section-title {
        font-size: 1.5rem;
    }
    .filters-title {
        font-size: 1.2rem;
    }
    .min-max-form  {
        flex-direction: column;
        margin-bottom: 0.3em;
        align-items: center;
    }
    .min-max-form label {
        margin-right: 0;
    }
    .min-max-input {
        width: 5rem;
        margin: 0.3rem 0;
    }
    #min-max-button {
        margin-left: 0;
        width: 5rem;
    }
    .lowest-biggest {
        flex-direction: column;
    }
    .lowest-biggest p {
        margin-bottom: 0.3em;
    }
    .form-select {
        margin-left: 0;
        padding: 0.2rem;
    }
}

@media (max-width: 620px) {
    .filters {
        flex-direction: column;
        padding: 1rem 0;
    }
    .min-max-form {
        margin-left: auto;
    } 
    .min-max-input {
        margin: 0.4rem 0;
    }
    .lowest-biggest {
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    .lowest-biggest p {
        margin-top: 0.3em;
    }
}