@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600;700&display=swap');


* {
    padding:0;
    margin:0;
}

:root {
    --main-blue-color: #58C6F7;
    --text-white-color: #F5E6E8;
}

html {
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
}

/*******************************
            NAVBAR
*******************************/

.navbar {
    display: flex;
    background-color: var(--main-blue-color);
}

/*****
LOGO
*****/

.nav-logo {
    padding: 1rem;
    width: 20%;
    font-weight: 900;
    font-size: 3.6rem;
}

.nav-logo a {
    color: var(--text-white-color);
}

/*****
SEARCH
******/

.nav-search {
    align-self: center;
    width: 100%;
    max-width: 50%;
}

.nav-input {
    width: 95%;
    padding: 0.8rem;
    border: none;
    border-radius: 10px;
}

.nav-input::placeholder {
    color: var(--main-blue-color);
}

.nav-input:focus {
    outline: none;
}

.nav-input:focus {
    color: var(--main-blue-color);
}

#search-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: -30px;
}

.fa-search {
    color: var(--main-blue-color);
}

/******
LINKS
******/

.navigation {
    align-self: center;
    width: 30%;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-align: center;
}

.nav-link {
    color: var(--text-white-color);
    font-size: 1rem;
}

.nav-link:hover {
    color: #5D5D81;
}

.link-text {
    display: block;
}

/**********************
        FOOTER
**********************/

footer {
    background-color: #5D5D81;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
    margin-top: 2.4rem;
}

footer h4, footer a, footer  {
    color: var(--text-white-color);
}

footer h4 {
    margin-bottom: 0.4rem;
}

.department-link, .contacts-text {
    margin-bottom: 0.2rem;
}

.department-link {
    width: fit-content;
}

.department-link:hover {
    color: var(--main-blue-color);
}

.contacts {
    max-width: 30%;
}

.contacts-text .fas {
    margin-right: 0.3rem;
}

.departments, .contacts, .social-media {
    display: flex;
    flex-direction: column;
}

.social-links {
    display: flex;
    flex-direction: row;
}

.social-link-div {
    background-color: var(--text-white-color);
    border-radius: 50%;
    margin-right: 1rem;
    width: 35px;
    height: 35px;
    text-align: center;
}

.social-links a {
    display: inline-flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: var(--main-blue-color);
}

.social-links a:hover {
    color: #5D5D81;
}


/*******************************
        MEDIA QUERY
*******************************/

@media (max-width: 1440px) {
    .nav-logo {
        font-size: 3rem;
    }
}

@media (max-width: 1250px) {
    .nav-logo {
        font-size: 2rem;
    }
}

@media (max-width: 950px) {
    .nav-link {
        font-size: 0.7rem;
    }
    .nav-input {
        padding: 0.5rem;
    }
}

@media (max-width: 865px) {
    .contacts-text, .department-link {
        font-size: 0.8rem;
    }
    .social-link-div {
        width: 30px;
        height: 30px;
    }
    .social-link-div i {
        font-size: 0.8rem;
    }
}

@media (max-width: 720px) {
    .nav-logo {
        width: 40%;
        font-size: 1.4rem;
        order: 2;
        text-align: center;
    }
    .nav-search {
        width: 30%;
        order: 1;
    }
    .navigation {
        order: 3;
    }
    .nav-input {
        display: none
    }
    #search-button {
        margin-left: 2rem;
    }
    .fa-search {
        color: var(--text-white-color);
    }
    .link-text {
        display: none;
    }
    .link-icon {
        font-size: 1rem;
    }
    footer h4 {
        font-size: 0.6rem;
    }
    .contacts-text, .department-link {
        font-size: 0.6rem;
    }
    .social-link-div {
        width: 25px;
        height: 25px;
    }
    .social-link-div i {
        font-size: 0.5rem;
    }
}

@media (max-width: 455px) {
    footer {
        flex-direction: column;
    }
    footer h4 {
        margin-top: 0.4rem;
    }
}